.registrartion{
    &__breadcrumb {
        min-height: 148px;
        background: #F8F3F4;
        display: flex;
        align-items: center;
    
    }
    
    &__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: $dark-pink-color;
        text-transform: uppercase;
    
    }
    
    &__content {
        background: #FFFFFF;
        display: flex;
        margin: 64px auto 0;
        justify-content: space-between;
    }
    
    &__form {
        max-width: 360px;
    
    }
    
    &__perk {
        width: 652px;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
    }
    
    &__perk-title {
        text-transform: uppercase;
    }
    
    &__perk-text {
        margin: 22px auto;
    }
    
    &__form-title {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: left;
        padding: 34px auto 0;
    }
    
    &__field {
        margin: 20px 0 0;
        border: 1px solid #A4A4A4;
        width: 358px;
        height: 45px;
    }
    
    &__form-text {
        color: #B1B1B1;
        font-size: 13px;
        padding: 15px 0 0;
    }
    
    &__perk-list {
        list-style-position: inside;
        list-style-image: url(..//img/v-registration.svg);
    }
    
    &__perk-item {
        margin: 16px auto 0;
    }
    
    &__buttom {
        height: 50px;
        width: 167px;
        background: $dark-pink-color;
        color: $white-color;
        border: none;
        text-align: center;
        margin: 39px auto 96px;
    }
    
    &__gender {
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;
        margin: 33px auto 33px;
    }
}
