$black-color: #222222;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$grey-color: #F8F8F8;
$white-color: #FBFBFB;
$gray-light-color: #E8E8E8;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;