/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header__navigation {
  display: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
}

.header__button:hover + .header__navigation {
  display: block;
}

.header__button:hover .header__button-icon {
  fill: #F16D7F;
}

.header__button:active .header__button-icon {
  fill: #F1E4E6;
}

.header__navigation {
  background-color: #FBFBFB;
  position: absolute;
}

.header__link {
  margin: 0 33px 0 0;
}

.header__link:hover .header__button-icon {
  fill: #F16D7F;
}

.header__link:active .header__button-icon {
  fill: #F1E4E6;
}

.header__link-opacity:hover, .header__link-opacity:focus {
  opacity: 0.7;
}

.header__button-icon {
  fill: #E8E8E8;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
  .header__link {
    display: none;
  }
  .header__link-opacity {
    display: none;
  }
}

.footer__bottom {
  min-height: 79px;
  background-color: #222222;
}

.footer__copyright {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 143px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__copyright-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 148px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.footer__link:hover {
  background-color: #F1E4E6;
}

.footer__link:hover .footer__link-icon {
  fill: #F16D7F;
}

.footer__link--instagram {
  background: #F16D7F;
}

.footer__link-icon--instagram {
  fill: #FBFBFB;
}

.footer__subscribe {
  background: url(../img/subscribe.jpg) no-repeat center;
}

@media (max-width: 1600px) {
  .footer__subscribe {
    background-position: bottom;
  }
}

.footer__content {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 693px;
  }
}

@media (max-width: 768px) {
  .footer__content {
    min-height: 550px;
  }
}

.footer__subscribe-content {
  max-width: 360px;
  min-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscribe-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222222;
  text-align: center;
}

@media (max-width: 768px) {
  .footer__subscribe-text {
    font-size: 19px;
    line-height: 23px;
  }
}

.footer__subscribe-sub-text {
  font-style: italic;
}

.footer__subscribe-form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .footer__subscribe-form-title {
    font-size: 24px;
    line-height: 36px;
  }
}

.footer__subscribe-form-sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 768px) {
  .footer__subscribe-form-sub-title {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer__subscribe-form-input {
  width: 256px;
  height: 46px;
  background: #E1E1E1;
  border-radius: 23px 0 0 24px;
  border: none;
  outline: none;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer__subscribe-form-button {
  width: 100px;
  height: 48px;
  background: #F16D7F;
  color: #FBFBFB;
  border-radius: 0 24px 24px 0;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer__subscribe-form-email {
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 63px auto;
  max-width: 1600px;
}

@media (max-width: 768px) {
  .brand {
    min-height: 363px;
  }
}

.brand__title-container {
  background: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .brand__title-container {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 768px) {
  .brand__title-container {
    padding: 0 0 0 83px;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  /*width: 377px;*/
}

@media (max-width: 1600px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: normal;
  }
}

.brand__sub-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

@media (max-width: 1600px) {
  .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand .brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand .brand__img {
    display: none;
  }
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__item {
  width: 360px;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1600px) {
  .offer__item {
    width: 31%;
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 768px) {
  .offer__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.offer__item--women {
  background-image: url("../img/offer-women.jpg");
  background-size: cover;
}

.offer__item--men {
  background-image: url("../img/offer-men.jpg");
  background-size: cover;
}

.offer__item--kids {
  background-image: url("../img/offer-kids.jpg");
  background-size: cover;
}

.offer__item--accesories {
  background-image: url("../img/offer-accesories.jpg");
  background-size: cover;
  width: 100%;
}

@media (max-width: 1600px) {
  .offer__item--accesories {
    min-height: 116px;
  }
}

.offer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.offer__title {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.products__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin: 6px auto 48px;
  color: #9F9F9F;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .products__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products__item {
  width: 360px;
  margin: auto auto 30px;
  position: relative;
  cursor: pointer;
}

.products__item:hover {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.products__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__button {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background: #ffffff;
  margin: 48px auto 95px;
  cursor: pointer;
  outline: none;
}

.products__button:active {
  background: #F16D7F;
  color: #FBFBFB;
  border: 1px solid #FBFBFB;
  outline: none;
}

.product__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 420px;
  width: 100%;
}

.product__img:hover ~ .product__item-hover {
  display: block;
}

@media (max-width: 375px) {
  .product__img {
    width: 100%;
  }
}

.product__item-hover {
  display: none;
  height: 420px;
  width: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(59, 59, 59, 0.65);
}

.product__item-hover:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 39px;
  width: 123px;
  border: 1px solid #FFFFFF;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(59, 59, 59, 0.65);
  color: #FBFBFB;
}

.product__discription {
  background: #F8F8F8;
  padding: 25px 29px 20px 17px;
}

.product__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.product__text {
  margin: 13px 0 18px;
  color: #5D5D5D;
}

.product__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
  margin: auto auto 20px;
}

.features {
  background: #222222;
}

.features__list {
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 610px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 610px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  min-height: 133px;
}

.features__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FBFBFB;
}

.features__text {
  text-align: center;
  color: #FBFBFB;
}

.registrartion__breadcrumb {
  min-height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registrartion__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.registrartion__content {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 64px auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registrartion__form {
  max-width: 360px;
}

.registrartion__perk {
  width: 652px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.registrartion__perk-title {
  text-transform: uppercase;
}

.registrartion__perk-text {
  margin: 22px auto;
}

.registrartion__form-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  padding: 34px auto 0;
}

.registrartion__field {
  margin: 20px 0 0;
  border: 1px solid #A4A4A4;
  width: 358px;
  height: 45px;
}

.registrartion__form-text {
  color: #B1B1B1;
  font-size: 13px;
  padding: 15px 0 0;
}

.registrartion__perk-list {
  list-style-position: inside;
  list-style-image: url(..//img/v-registration.svg);
}

.registrartion__perk-item {
  margin: 16px auto 0;
}

.registrartion__buttom {
  height: 50px;
  width: 167px;
  background: #F16D7F;
  color: #FBFBFB;
  border: none;
  text-align: center;
  margin: 39px auto 96px;
}

.registrartion__gender {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  margin: 33px auto 33px;
}
/*# sourceMappingURL=style.css.map */